<header class="header">
    <div class="logo-barra-mano">
        <div class="logo-barra">
            <img class="logo" src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <form method="GET" action="/" class="nav-bar-form">
                <input type="text" class="barra-busqueda" placeholder="Buscar producto, marca" name="barrabusqueda">
                <div class="lupa">
                    <i class="fas fa-search"></i>
                </div>

            </form>
        </div>
        <p class="mano">
            <i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
        </p>
    </div>
    <nav class="nav-bar">
        <ul class="site-nav" type="none">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="login-nav" type="none">
            <li><a href="/register">Creá tu cuenta
                    <i class="far fa-id-card"></i>
                </a></li>
            <li><a href="/login">Ingresá
                    <i class="fas fa-sign-in-alt"></i>
                </a></li>
            <li><a href="#">Mis compras
                    <i class="fas fa-shopping-basket"></i>
                </a></li>
        </ul>
    </nav>
    <div class="burger-manu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>